p
  | If one of your domains or SSL certificates is going to expire, we'll start sending you notifications that number of days in advance:

= simple_form_for model do |f|
  = f.input :deadline, placeholder: "Number of days before expiration", required: false
