= simple_form_for model do |f|
  = f.input :human_intelligence, required: false, label: 'How would you like us to reach out to you?',
            placeholder: "Put here your Devops contacts or any hints for a human reaching out to you"
